.main {
	position: relative;
	display: block;
	padding-top: 4.81vh;
	padding-bottom: 5.19vh;

	@include media(md) {
		padding-top: 8vh;
		padding-bottom: 9.5vh;
	}

	@include media(sm) {
		padding-top: 8.3vh;
		padding-bottom: 10.16vh;
	}

	@include media(xs) {
		padding-top: 5vh;
		padding-bottom: 5vh;
	}

	&__title {
		position: relative;
		margin-bottom: 4.81vh;
		text-align: center;

		@include media(md) {
			margin-bottom: 6.64vh;
		}

		@include media(xs) {
			margin-bottom: 4vh;
		}

		img {
			position: absolute;
			top: -42px;
			left: 50%;
			transform: translateX(-50%);
			display: block;
			width: 57.6vw;
			min-width: 1000px;
			height: auto;

			@include media(xs) {
				top: -6.3vh;
				min-width: 100%;
			}
		}
	}

	&__desc {
		position: relative;
		display: block;
		width: 100%;
		margin: 0 0 4.44vh;
		padding: 9px 36px 8px;
		overflow: hidden;
		background-color: $orange;
		border: 1px solid $orange;
		outline: 1px solid $black;
		outline-offset: -2px;

		@include media(md) {
			margin-bottom: 8.01vh;
		}

		@include media(xs) {
			margin-bottom: 5vh;
		}

		p {
			position: relative;
			z-index: 1;
			display: inline-block;
			font-family: "PressStart2P", sans-serif;
			font-size: 16px;
			line-height: 1;
			font-weight: 400;
			white-space: nowrap;
			color: $black;
			opacity: 0;

			&.marquee-anim {
				animation: marquee 45s infinite linear;
			}
		}
	}

	&__btn {
		width: 265px;
		height: 64px;
		margin: 0 auto 4.44vh;

		@include media(md) {
			margin-bottom: 8.79vh;
		}

		@include media(xs) {
			margin-bottom: 7.35vh;
			height: 48px;
		}

		@include media(xxs) {
			margin-bottom: 6vh;
		}
	}

	&__cards {
		display: block;
		margin: 0 auto;
		width: 1204px;

		@include media(md) {
			width: 100%;
		}
	}
}

@keyframes marquee {
	0% {
		opacity: 0;
		transform: translateX(100vw);
	}
	2% {
		opacity: 1;
	}
	98% {
		opacity: 1;
		transform: translateX(-100%);
	}
	100% {
		opacity: 0;
		transform: translateX(-100%);
	}
}

.cards {
	display: flex;
	flex-wrap: wrap;

	@include media(md) {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		padding-left: 24px;
	}

	&__item {
		position: relative;
		display: block;
		width: calc(25% - 30px);
		margin-bottom: 2.22vh;
		margin-right: 40px;
		outline: none !important;

		@for $i from 1 through 8 {
			&:nth-child(#{$i}) {
				z-index: $i;
			}
		}

		@include media(md) {
			width: 272px;
			min-width: 272px;
			margin-right: 0;
			margin-bottom: 0;
			padding-right: 16px;
		}

		@include media(xs) {
			padding-right: 10px;
		}

		&:nth-child(4n) {
			margin-right: 0;

			@include media(md) {
				padding-right: 16px;
			}

			@include media(xs) {
				padding-right: 10px;
			}
		}

		&:nth-child(n + 5) {
			margin-bottom: 0;
		}

		&:last-child {
			margin-right: 0;

			@include media(md) {
				width: 296px;
				min-width: 296px;
				padding-right: 24px;
			}
		}
	}
}

.item {
	&__prev {
		position: absolute;
		z-index: 2;
		top: 15px;
		left: 28px;
		display: block;
		width: 56px;
		height: 56px;
		pointer-events: none;

		&_svg {
			pointer-events: all;
			cursor: pointer;
			overflow: visible;
			path:nth-child(2),
			path:nth-child(4) {
				&.broken {
					fill: $error;
				}
			}

			path:nth-child(2) {
				&.broken {
					animation: broken-click1 2s ease-in-out forwards;
				}
			}

			path:nth-child(4) {
				&.broken {
					animation: broken-click2 1.5s ease-in-out forwards;
				}
			}
		}
	}

	&__easter-egg {
		position: absolute;
		z-index: 0;
		top: -54px;
		left: -8px;
		transform: translateY(50px);
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 130px;
		height: 42px;
		opacity: 0;
		border: 1px solid #44c7f1;
		background-color: #0c0f1b;
		pointer-events: none;
		transition: transform 0.3s ease-in, opacity 0.3s ease-in;

		&_see {
			transform: translateY(0);
			opacity: 1;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			left: 50%;
			transform: translate(-50%, 100%);
			display: block;
			width: 0;
			height: 0;
		}

		&::before {
			bottom: 0;
			z-index: 1;
			border-top: 6px solid #0c0f1b;
			border-left: 4px solid transparent;
			border-right: 4px solid transparent;
		}

		&::after {
			z-index: 0;
			bottom: -1px;
			border-top: 8px solid #44c7f1;
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
		}
	}
}

.card {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	height: 90px;
	padding: 15px 32px 20px 102px;
	font-family: "RobotoMono", sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 500;
	text-align: left;
	color: $white;
	background-color: $black;
	text-decoration: none;
	border: 1px solid;
	border-image-source: linear-gradient(to bottom right, $green, $black);
	border-image-slice: 1;
	transition: background-color .3s ease;

	&:hover,
	&:focus,
	&:active {
		color: $white;
		text-decoration: none;
		background-color: #161b2f;
	}

	&::before,
	&::after {
		content: '';
		position: absolute;
		z-index: 1;
		display: block;
		width: 27px;
		height: 27px;
	}

	&::before {
		bottom: 0;
		left: 0;
		transform: translate(-50%, 50%) rotate(45deg);
		border-top: 1px solid $green;
		background-image: linear-gradient(to right, #000a14, #000a14 27px, rgba(white, .0001) 0);
	}

	&::after {
		top: 0;
		right: 0;
		transform: translate(50%, -50%) rotate(45deg);
		border-bottom: 1px solid $green;
		background-image: linear-gradient(to left, #000a14, #000a14 27px, rgba(white, .0001) 0);
	}
}

@keyframes broken-click1 {
	0% {
		transform: translate(0, 0) rotate(0);
	}
	30% {
		transform: translateX(10px) rotate(45deg);
	}
	60% {
		transform: translate(50px, 20px) rotate(15deg);
	}
	100% {
		transform: translate(20px, 30px) rotate(25deg);
	}
}

@keyframes broken-click2 {
	0% {
		transform: translate(0, 0) rotate(0);
	}
	30% {
		transform: translateX(10px) rotate(-15deg);
	}
	60% {
		transform: translate(-10px, 20px) rotate(15deg);
	}
	100% {
		transform: translate(0, 55px) rotate(0deg);
	}
}