* {
	box-sizing: border-box;
}

html,
body {
	overflow: hidden;
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	font-family: "RobotoMono", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	background-color: #000;

	@include media(md) {
		font-size: 14px;
	}
}

.root {
	width: 100%;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	padding-bottom: 31px;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	background-color: #000;

	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
	}

	&__canvas-stars {
		position: fixed;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	&__btn-start {
		position: absolute;
		z-index: 2;
		top: 0;
		left: 0;
	}

	&__grch {
		position: absolute;
		bottom: 14px;
		left: 50%;
		transform: translate(-50%);
	}
}

h1, h2, h3, p {
	display: block;
	margin: 0;
}

.h1, h1, h2, h3 {
	font-family: "PressStart2P", sans-serif;
	text-transform: uppercase;
	font-weight: 400;
}

.h1, h1 {
	position: relative;
	z-index: 2;
	font-size: 27px;
	line-height: 1;
	letter-spacing: 0.41px;
	color: $white;
	text-shadow: 0 0 20px rgba(255, 255, 255, 0.75);

	@include media(xs) {
		font-size: 14px;
		letter-spacing: 0.21px;
	}

	@include media(xxs) {
		font-size: 13px;
	}
}

h2 {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.24px;
	color: $green;
}

h3 {
	font-size: 12px;
	letter-spacing: 0.18px;
	text-shadow: 0 0 20px rgba(255, 255, 255, 0.75);
	color: $white;
}

a, button {
	text-decoration: none;
	outline: none !important;
	cursor: pointer;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

.btn {
	$p: &;
	position: relative;
	z-index: 2;
	display: block;
	padding: 0;
	border: none;
	opacity: 1;
	background-color: transparent;
	box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.5);
	transition: opacity .2s ease;

	@include media(xs) {
		width: 209px;
		height: 54px;
	}

	&__text {
		position: relative;
		z-index: 2;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		overflow: hidden;
		color: $black;
		font-family: "RobotoMono", sans-serif;
		font-size: 20px;
		line-height: 1;
		font-weight: 500;

		@include media(xs) {
			font-size: 16px;
		}
	}

	&__rectangle {
		position: absolute;
		z-index: 2;
		left: 0;
		width: 100%;
		height: 25%;
		background-color: $white;
		transition: box-shadow .2s ease;

		@for $i from 1 through 4 {
			&:nth-of-type(#{$i}) {
				top: 25% * $i - 25%;
			}
		}
	}

	&:hover {
		#{$p}__rectangle {

			&:nth-of-type(2n) {
				box-shadow: 1px 0 0 $red, -1px 0 0 $green,;
				animation: glitch-new 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
			}

			&:nth-of-type(2n + 1) {
				box-shadow: 1px 0 0 $green, -1px 0 0 $red;
				animation: glitch-new 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite reverse;
			}
		}
	}

	&_hovered {
		transform: translateZ(0);
		overflow: visible;
		-webkit-filter: url('#filter');
		filter: url('#filter');

		&::after,
		&::before {
			content: '';
			width: 1px;
			position: absolute;
			top: -1px;
			bottom: -1px;
		}
	
		&::after {
			left: -2px;
			background-color: $red;
			animation: colorshift-1 3s infinite;
			animation-timing-function: step-end;
		}
	
		&::before {
			right: -2px;
			background-color: $blue;
			animation: colorshift-2 3s infinite;
			animation-timing-function: step-end;
		}
	}

	&_disabled {
		opacity: .5;
		cursor: not-allowed;
		box-shadow: none;

		#{$p}__text {
			&:before,
			&::after {
				content: 'Послать сигнал';
				position: absolute;
				top: 0;
				left: 0;
				display: block;
				line-height: 50px;
				width: 100%;
				height: 100%;
				opacity: .8;
			}

			&::before {
				z-index: -2;
				animation: glitch3 .5s ease-in infinite;
				color: $red;
			}

			&::after {
				z-index: -1;
				animation: skew .5s ease-in infinite;
				color: $green;
			}
		}

		&:hover,
		&:focus {
			#{$p}__text,
			#{$p}__rectangle,
			&::before,
			&::after {
				box-shadow: none !important;
				animation: none !important;
			}
		}
	}
}

@keyframes colorshift-1 {
	0%, 7% {
		background-color: $red;
	}
	8%, 18% {
		background-color: transparent;
	}
	19% {
		background-color: $green;
		width: 2px;
	}
	23%, 100% {
		background-color: transparent;
	}
}

@keyframes colorshift-2 {
	0%, 7% {
		background-color: $blue;
	}
	8%, 18% {
		background-color: transparent;
	}
	19% {
		background-color: $orange;
		width: 2px;
	}
	23%, 100% {
		background-color: transparent;
	}
}

@keyframes glitch-new {
	0%,
	100% {
		transform: translateX(0);
	}

	40% {
		transform: translateX(-4px);
	}

	80% {
		transform: translateX(4px);
	}
}

@keyframes glitch2 {
	0%, 20%, 33%, 60%, 64%, 66%, 69%, 73%, 75%, 90%, 93%, 100% {
		transform: skew(0deg);
	}
	21%, 81% {
		transform: skew(1deg, 0deg);
	}
	22%, 82% {
		transform: skew(-1deg, 0deg);
	}
	61% {
		transform: skew(1deg, -1deg);
	}
	62% {
		transform: skew(-1deg, -1deg);
	}
	65% {
		transform: skew(1deg, -1deg);
	}
	70% {
		transform: skew(-1deg);
	}
	74% {
		transform: skew(1deg, -1deg);
	}
}

@keyframes skew {
	0% {
		transform: skew(0deg);
	}
	20% {
		transform: skew(10deg);
	}
	24% {
		transform: skew(-20deg);
	}
	28% {
		transform: skew(0deg);
	}
	70% {
		transform: skew(10deg);
	}
	74%{
		transform: skew(20deg);
	}
	78% {
		transform: skew(10deg);
	}
	100% {
		transform: skew(0deg);
	}
}

@keyframes glitch3 {
	0% {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
	20% {
		transform: translate3d(0, 0, 0);
		opacity: 0.3;
	}
	24% {
		opacity: 1;
	}
	28% {
		transform: translate3d(0, 0, 0);
	}
	60% {
		transform: translate3d(0, 0, 0);
	}
	64%{
		transform: translate3d(-4px, -3px, 0);
	}
	68% {
		transform: translate3d(0, 0, 0);
	}
	70% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	74%{
		opacity: 0.3;
		transform: translate3d(10px, -6px, 0);
	}
	78% {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(0, 0, 0);
	}
}

.grechka {
	display: block;
	width: 384px;

	img {
		position: absolute;
		bottom: -14px;
		left: 50%;
		transform: translate(-50%);
	}

	p {
		position: relative;
		z-index: 1;
		display: block;
		width: 100%;
		font-family: "HalvarBreitCY", sans-serif;
		font-size: 13px;
		line-height: 17px;
		font-weight: 400;
		text-align: center;
		color: rgba($white, .8);

		&:hover, &:focus {
			animation: glitch-grch 2s infinite reverse;
		}
	}
}

$px: 0;
$px2: 0;

@mixin mini-glitch($c1, $c2, $coeff, $start, $end) {
	$interval: $end - $start;
	@for $i from $start through $end {
		#{$i * 1%} {
			@if $i < $start + ($interval/2) {
				$px: $px + $coeff;
				$px2: -$px;
				text-shadow: #{$px}px 0 0 $c1, #{$px2}px 0 0 $c2;
			} @else {
				$px: $px - 1;
				$px2: -$px;
				text-shadow: #{$px}px 0 0 $c1, #{$px2}px 0 0 $c2;
			}
		}
	}
	$px: 0;
	$px2: 0;
}

@mixin big-glitch($c1, $c2, $distance, $start, $end) {
	@for $i from $start through $end {
		#{$i * 1%} {
			@if $i == $end {
				text-shadow: 0 random(10)-5 + px 0 $c1, 0 random(10)-5 + px 0 $c2;
			} @else {
				$px: $distance;
				$px2: -$px;
				text-shadow: #{$px}px random(10)-5 + px 0 $c1,
										 #{$px2}px random(10)-5 + px 0 $c2;
			}
		}
	}
	$px: 0;
	$px2: 0;
}

@keyframes glitch-grch {
	@include mini-glitch($orange, $red, 1.5, 0, 10);
	@include mini-glitch($orange, $blue, 0.9, 11, 20);
	@include mini-glitch($red, $blue, 0.6, 21, 40);

	@include big-glitch($red, $blue, 20, 21, 22);

	@include mini-glitch($orange, $blue, 0.7, 43, 25);
	@include mini-glitch($orange, $red, 1, 31, 30);

	@include big-glitch($orange, $blue, 20, 31, 22);

	@include mini-glitch($orange, $red, 0.9, 32, 35);

	@include big-glitch($orange, $red, 25, 35, 36);

	@include mini-glitch($orange, $red, 1.5, 35, 40);
	@include mini-glitch($orange, $blue, 0.7, 37, 40);

	@include big-glitch($blue, $red, 15, 40, 40);

	@include mini-glitch($red, $blue, 0.9, 40, 40);
}