$url-font: '/fonts';
// $url-font: '/repetit/fonts';
$url-img: '/icons';
// $url-img: '/repetit/icons';

$green: #38C046;
$orange: #FFA800;
$red: #F75245;
$error: #E20000;
$blue: #44C7F1;
$bg: #1A1D28;
$border: #38c046;
$white: #fff;
$black: #000;

// Переменная для сдвига списков в футере
$marquee-move: calc(var(--marquee-move) * 1px);
// Цвет для анимации, получается рандомом
$color: var(--color);

// prettier-ignore
$breakpoints: (
	xxs: 0,
	xs: 375px,
	sm: 768px,
	md: 1024px,
	lg: 1280px,
	xl: 1920px
);
